/* 
font-family: 'Roboto', sans-serif; (Основной шрифт страницы)
font-style: normal; (Основной стиль шрифта страницы)
color: #757575; (Первый цвет шрифта)
color: #212121; (Второй цвет шрифта)
color: #2196F3; (Третий цвет шрифта)
background-color: #FFFFFF; (header)
background-color: #2F303A; (секция Заголовок страницы)
background-color: #E5E5E5; (секции Особенности компаниии, Чем мы занимаемся)
background-color: #F5F4FA;; (секция Наша команда)
background: #2F303A; (Футер)
*/
:root {
  --header-bg-color: #ffffff;
  --footer-hero-bg-color: #2f303a;
  --sec-bg-color: #e5e5e5;
  --text-first-color: #757575;
  --text-second-color: #212121;
  --text-third-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.header {
  background-color: var(--header-bg-color);
}
.hero {
  background-color: var(--footer-hero-bg-color);
}
.sec-bg-color {
  background-color: var(--sec-bg-color);
}
.our-team {
  background-color: #f5f4fa;
}
.footer {
  background-color: var(--footer-hero-bg-color);
}
li {
  list-style-type: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}
.logo-accent {
  color: var(--text-third-color);
}
.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
}
.nav a:hover,
.nav a:focus,
.mail-tel a:hover,
.mail-tel a:focus {
  color: var(--text-third-color);
}
.mail-tel a {
  color: var(--text-first-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-bg-color);
}
address .address {
  color: var(--header-bg-color);
}
